.appName-heading {
  text-align: center;
}

.add-row {
  display: grid;
  grid-template-columns: 200px 100px 50px;
  column-gap: 10px;
  justify-content: center;
}

.add-input-name {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  height: auto;
}

.todo-date-input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  height: auto;
}

.add-button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  font-size: medium;
}

.add-input-name:focus {
  border: 1px solid gold;
}

.todoItem-div {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  gap: 10px;
}

.delete-button {
  color: white;
  background-color: crimson;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item {
}
