@import "tailwindcss";

/* Light theme */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --footerBg: #e5e7eb;
    --footerFg: #1f2937;
  }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --footerBg: #1f2937;
    --footerFg: #e5e7eb;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footerBg: var(--footerBg);
  --color-footerFg: var(--footerFg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer components {
  .productItem {
    @apply rounded bg-background text-foreground hover:opacity-80 hover:shadow-lg p-4 w-md content-center cursor-pointer;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
